body
{
    background-image: url(images/fond_jaune.png);
    font-family: Helvetica, sans-serif; 
    color: #181818;
}
form
{
    text-align: center;
}

h1
{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
input
{
    margin-bottom: 25px;
    margin-top: 5px;
}

#civ
{
    margin-right: 25px;
}

fieldset
{
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}